{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../static/style/home.css">
        <script src="../static/script/home.js"></script>
        </script>
    </head>
    <body>
      <!-- welcome page with navigation start -->
        <div class="home">
            <h1>Welcome to <h1 class="company">BlogDot</h1></h1>
            <p>We are the Tech Blog company</p>
            <a href="/blog/"><button class="btn">Blogs</button></a>
            <button class="btn" onclick="showAnimation()">About us</button>
        </div>
        <!-- welcome page with navigation end -->
        <!-- About card start-->
        <div class="card" id="cardid">
            <img src="../static/Images/img1.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <div class="desc">
                <p class="card-text">We are a leading software company of Nepal and we also provides free bloging platform since 2015</p>
              </div>
              <div class="aboutmore">
                <a href="#" >Read More</a>
              </div>
            </div>
          </div>
        <!-- About card ends -->
    </body>
</html>
